---

const { settings, title, content } = Astro.props

---

<section class="relative h-screen flex items-center justify-center">

  <!-- Content -->
  <div class="z-10 flex flex-col items-center gap-6 text-center">

    <!-- Title -->
    <h1 class="bs-h1" set:html={ title } />

    <!-- Content -->
    <div class="bs-body-text xl:text-xl" set:html={ content } />

    <!-- CTA -->
    <button type="button" class="bs-btn self-center" onclick="demo.showModal()">
      { settings.demo.cta }
    </button>

  </div>

</section>

